*{
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    
}

body{
    height: 120px;
    background: linear-gradient(90deg, rgb(255, 247, 247) 6%, rgba(223,229,231,1) 32%, rgb(143, 143, 143) 100%);
}
header{
    padding: 10px;  
    background: linear-gradient(60deg,rgb(0, 75, 249),rgb(92, 157, 213),rgb(1, 49, 131));

    /*background-color: rgba(197, 197, 227, 0.666);*/

}
header .logo{
    display: block;
    padding: 1px;
    margin:  auto;
    
}

.contenedor1{
    
    width: 1440px;
    height: 200%;
    position: relative;
    padding: 15px;
    top: 35px;
    bottom: 20px;
    width: 60%;
    padding: 25px;
    
    
}

.contenedor1 .input-texto{
   
    text-align: center;
    width: 80%;
    display: block;
    margin: auto;
    resize: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: transparent;
    
}
.contenedor1 ::placeholder{
    position: relative;
    padding: 10px;
    top: 100px;
}



.contenedor2{
    
    position: relative;
    display: inline;
    left: 65%;
    bottom: 250px;
    text-align: center;
}

.contenedor2 .rec{
    
    width: 420px;
    height: 500px;    
}


.contenedor2-1{
    position: absolute;
    bottom: 160px;
    left: 20px;
    transition: 2s;


}
.contenedor2-1 .muñeco{
    display: inline;
    margin: auto;
     
}

.contenedor2-1 .muñeco:hover{
    display: inline;
    margin: auto;
    transform: scale(1.2);
    border: blueviolet;
}

.contenedor2-1 .copi{
    position: relative;
    margin: auto;
    top: 120px;
    left: 110px;
    background: rgba(10, 56, 113, 1);
    width: 180px;
    height: 40px;
    border-radius: 24px;
    color: #ebedef;
    font-size: 18px;
}

.botones{
    display: inline;
    position: relative;
    bottom: 380px;
    right: 330px;
    
}

.botones .encriptar {
    
    background: rgba(10, 56, 113, 1);
    
    width: 300px;
    height: 50px;
    border-radius: 24px;
    
    color: #ebedef;
    font-size: 18px;

}

.botones .desencriptar {
    background: rgba(216, 223, 232, 1);
    height: 67px;
    width: 300px;
    border-radius: 24px;
    height: 50px;
    color: #000000;
    font-size: 18px;
}



.encrip{
    
    position: absolute;
    top: 300px;
    left: 850px;
    border-radius: 10px;
    
}

.encrip .mensaje{
    text-align: center;
    width: 90%;
    display: block;
    margin: auto;
    resize: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    border-color: transparent;
    border: transparent;
    
}

footer{

    font-weight: bold;
    height: 80px;
    text-align: center;
    padding: 20px 0px 0px;
    background: linear-gradient(60deg,rgb(0, 75, 249),rgb(92, 157, 213),rgb(1, 49, 131));
}
footer p{
    display: flex;
   justify-content: center;
}